extend ../../layouts/default.pug
include ../../mixins/table-tree.pug
block main
    h1 Trang danh muc san pham 
    .card.mb-3
        .card-header Danh muc san pham
        .card-body
            .row
                .col-8
                .col-4
                    a(
                        href=`${prefixAdmin}/products-category/create`
                        class="btn btn-outline-success"
                    ) + Them moi
            table(
                class="table table-hover table-sm"
                checkbox-multi
            )
                thead
                    tr
                        th
                            input(type="checkbox" name="checkall")
                        th STT 
                        th Hinh anh
                        th Tieu de 
                        th Vi Tri
                        th Trang thai
                        th Hanh dong
                tbody
                    +table-tree(records)